{% extends "core/base.html" %}
{% block title %} DEV[LDN] {% endblock %}
{% block content %}
<section class="temp-hero">
    <div class="temp-hero-inner">
        <h1 class="temp-hero-title">
            <span class="temp-hero-path">[ </span>In Development<span class="temp-hero-path"> ]</span>
        </h1>
        <h2 class="temp-hero-subtitle">
            This project is a work in progress. Check back soon for updates and documentation.
        </h2>

        <p class="temp-hero-tagline">
            If you have any questions or want to contribute, feel free to reach out or submit a pull request on GitHub. <br><br> For any collaborations or inquiries, please reach out.
        </p>
    </div>
</section>
{% endblock %}
